# Ignored directories
/__pycache__/*
/.vscode
/env

# Ignored files
/.flaskenv
/pyHTPC-tests.py
app.pyc
notes.md

# Ignored filetypes


TODO
static/themes/default/icons/BundleLogs-1617048929361.zip
