/* Elements */
* {
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9{
  font-family: 'Raleway', sans-serif !important;
  font-weight: 200;
}

h1{
  font-size: 3.5rem;
}

body {
  background: url('../../static/images/backgrounds/dark-gradient.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

p, #clock{
  font-family: 'Raleway', sans-serif !important;
  font-weight: 200 !important;
}

/* IDs */
#clock{
  font-size: 4rem !important;
  margin-top: -4rem; 
}

/* Classes */
.navbar-icons{
  height: 3rem;
  width: 3rem;
}

.tiles img{
  border:1px solid rgb(0, 81, 134);
}

.navbar-text{
  display: none;
}

/* Spatial Navigation */
:focus {
  outline: 4px solid rgb(0, 81, 134);

}
