h1, h2, h3, h4, h5, h6, h7, h8, h9{
  font-family: 'Raleway', sans-serif !important;
  font-weight: 200;
}

p, #clock{
  font-family: 'Raleway', sans-serif !important;
  font-weight: 200;
}

/* Elements */
#clock{
  font-size: 4rem;
  
}