/* variables */
:root {
  --font-colour: #FFFFFF;
  --font-weight: 200;
}

/* Spatial Navigation */
:focus {
  outline: 4px solid rgb(0, 81, 134);
}

* {
  /* cursor: none; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Background. Set by config.json */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* Clock */
#clock {
  color: var(--font-colour);
  float: right;
  font-size: 4rem;
  font-weight: var(--font-weight);
  padding-right: 2rem;
  position: relative;
}

/* Text elements */
h1 {
  font-size: 3.5rem;
  font-weight: var(--font-weight);
}

h2 {
  font-size: 3rem;
  font-weight: var(--font-weight);
}

p {
  font-size: 2rem;
  font-weight: var(--font-weight);
}

/* Tiles */
#tiles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%
}

#favourite_tiles,
#all_tiles {
  display: flex;
  justify-content: center;
}

.tile {
  display: inline-block;
}

.tile-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 18.1rem;
}

/* Icons */
.icon {
  /* This is the better option when image ratios are correct */
  /* background-size: cover; */

  /* This is the easier option for now */
  background-size: 100% 100%;
  height: 30px;
  width: 35px;
}

.tile_catagory_icon {
  position: absolute;
  left: 9.5%;
  margin-top: 20px;
}
