<title>pyHTPC</title>
<!-- Internal resources -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

<!-- Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap" rel="stylesheet">
