<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body onload="startClock()">
        <div id="navbar">
            {% include 'navbar.html' %}
        </div>

        <div class="widgets">
            {% include 'widgets.html' %}
        </div>

        <div class="tiles"> 
            <!-- Video tiles -->
            <div id="video_tiles">
                {% include 'video-tiles.html' %}
            </div>

            <!-- Application tiles -->
            <div class="application_tiles">
                {% include 'application-tiles.html' %}
            </div>
        </div>
    </body>
</html>


