<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
  {% include 'style.html' %}
</head>

<body onload="startClock()">

  <!-- Background -->
  <img src="{{theme.background_image }}" id="bg" alt="">

  <!-- Top bar -->
  <div id="top_bar">
    {% include 'logo.html' %}
    {% include 'clock.html' %}
  </div>

  <!-- Tiles -->
  <div id="tiles">
    {% include 'tiles.html' %}
  </div>

  <!-- utilities bar -->
  <div id="utilities">
    {% include 'utilities.html' %}
  </div>

  <!-- Scripts -->
  {% include 'scripts.html' %}
  {% include 'spatial.html' %}
</body>

</html>
