<!-- Includes for all pages -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>thea</title>
  {% include 'style.html' %}
  {% include 'scripts.html' %}
  {% include 'spatial.html' %}
</head>

<body onload="startClock()">

  <!-- Background -->
  <div id="background"></div>

  <!-- Top bar -->
  <div id="top_bar">
    {% include 'logo.html' %}
    {% include 'clock.html' %}
  </div>

  <!-- Include main content per page -->
  {% include 'content.html' %}

  <!-- utilities bar -->
  <div id="utilities">
    {% include 'utilities.html' %}
  </div>

</body>

</html>
