<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

<style>
  body,
  #search_bar {
    font-family: '{{ config.general.font }}',
    sans-serif;
  }

  #background {
    background-image: url({{ theme.background_image }});
  }

    {
    % if config.general.hide_mouse=="true"%
  }

  * {
    cursor: none;
  }

    {
    % endif %
  }


  /* Tile icons */
  #favourite_tiles_icon {
    background-image: url("{{ theme.icons.favourites }}");
  }

  #settings {
    background-image: url("{{ theme.icons.settings }}");
  }

  #all_tiles_icon {
    background-image: url("{{ theme.icons.all_tiles }}");
  }
</style>
